<!DOCTYPE html>
<html>
  <head>
    <title>TwitterLite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class='alert alert-primary' role='alert'>
        <p><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class='alert alert-danger' role='alert'>
        <p><%= alert %></p>
      </div>
    <% end %>

    <div class='bg-primary'>
      <div class='container'>
        <nav class="navbar navbar-expand-lg navbar-dark">
          <%= link_to 'Twitter', root_path, class: 'navbar-brand' %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-lg-flex ms-auto">
              <li class="nav-item">
                <%= link_to 'New Tweet', new_tweet_path, class: 'nav-link' %>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
